.applicationsContainer{
    margin: 30px 120px;
    display: flex;
    flex-direction: column;
}
.applicationsTitle{
    font-size: 40px;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
}
.noAds{
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    margin-top: 20px;
}
.sortButton{
    display: flex;
    border: none!important;
    font-size: 15px;
}
.sort{
    font-size: 26px;
    margin-right: 6px;
}
.sortButton:active .sort{
    color: #fc5603!important;
}
.sortButton:active{
    border: none!important;
}
.sortButtonContainer{
    display: flex;
    justify-content: right;
    margin-right: 18%;
}
