.signUpContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.formContainer, .choiceContainer{
    width: 100%;
    max-width: 500px;
}
.formCard, .choiceCard{
    border:none;
    background-color:#096947 !important;
    color:white !important;
    border-radius: 40px !important;
}
.title{
    text-align: center;
    padding-bottom: 15px;
}
.submitContainer{
    display: flex;
    justify-content: center;
}
.submitButton{
    margin-top: 40px!important;
    width: 70%!important;
    height: 50px!important;
    align-self: center!important;
    border-radius: 40px !important;
}
.input:focus{
    box-shadow: 0 0 0 0.25rem rgba(62,82,75,.5)!important;
    border-color: #99ada6!important;
}
.userNameLabel{
    text-transform: capitalize;
}
.loginText{
    text-align: center;
}
.userCard{
    background: none!important;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.choiceContainer{
    max-width: 600px;
    text-align: center;
}
.userCard{
    text-align: center;
    border: none!important;
    margin: 50px!important;
    transition: 0.3s;
}
.choiceCard{
    padding: 10px!important;
}

.cardText{
    font-size: 25px!important;
    color: white!important;
}

.userCard:hover{
    cursor: pointer;
    transform: scale(0.85);
    transition: 0.3s;
}
.visible{
    visibility: visible!important;
}
.invisible{
    visibility: hidden!important;
}